body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #a72323;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    background: rgb(240, 235, 235);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(66, 61, 61, 0.1);
  }
  
  button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
  }
  